@font-face {
    font-family: "PoppinsMedium";
    src: url(../fonts/Poppins-Medium.otf) format(opentype);
  }
  
  @font-face {
    font-family: "PoppinsRegular";
    src: url(../fonts/Poppins-Regular.otf) format(opentype);
  }

  :root {
    --color-background: #081b29;
    --color-black: #212121;
    --color-full-black: #000000;
    --color-text: #ededed;
    --color-text-out: #032f53;
    --color-primary: #0ef;
    --color-secondary: #990ff5f7;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: aliceblue;
    --color-hover: #0ef;
  
    --fontPadrao: "PoppinsRegular", "Rubik", sans-serif;
    --fontDestaque: "PoppinsMedium";
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--fontPadrao);
    color: var(--color-text);
    background: var(--color-background);
    
}
